In [8]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [9]:
df = pd.read_csv('products.csv')
df.head()

,id,name,brand,original_price,discount,price,discount_rate,quantity_sold,rating_average,seller_id,seller_name,days_since_joined,seller_avg_rating,is_official,review_count,total_follower
0,31638135,Combo 4 quần lót nam Boxer sợi cạp 1cm sợ...,MRM Manlywear,340000,85000,255000,25,4274.0,4.7,55147.0,MRM Manlywear Official,1408.0,4.7069,True,11627.0,2933.0
1,31637590,Combo 4 quần lót nam tam giác Bamboo Organi...,MRM Manlywear,340000,91000,249000,27,2760.0,4.7,55147.0,MRM Manlywear Official,1408.0,4.7069,True,11627.0,2933.0
2,79435123,"Áo chống nắng nam cao cấp, thông hơi, chống nắ...",OEM,215000,86000,129000,40,1000.0,4.7,17914.0,FORMEN SHOP,1595.0,4.5436,False,4553.0,2040.0
3,99958075,Quần đùi short gió nam thể thao Basic trẻ...,MRM Manlywear,199000,70000,129000,35,2195.0,4.7,55147.0,MRM Manlywear Official,1408.0,4.7069,True,11627.0,2933.0
4,172210350,"Hộp 4 quần boxer nam thun lạnh, quần lót nam c...",ARADO FASHION,199000,30000,169000,15,616.0,4.8,17914.0,FORMEN SHOP,1595.0,4.5436,False,4553.0,2040.0

In [10]:
df.describe()

,id,original_price,discount,price,discount_rate,quantity_sold,rating_average,seller_id,days_since_joined,seller_avg_rating,review_count,total_follower
count,1.000000e+03,1.000000e+03,1.000000e+03,1.000000e+03,1000.000000,982.000000,982.000000,982.000000,982.000000,982.000000,982.000000,982.000000
mean,1.218339e+08,2.275224e+05,4.667683e+04,1.808456e+05,15.287000,219.616090,4.443992,116336.142566,1119.141548,4.379615,3982.267821,1289.306517
std,6.208563e+07,1.995495e+05,8.957693e+04,1.538869e+05,19.512903,770.985337,0.755489,93231.264569,468.506786,0.369383,6187.372832,2425.204200
min,4.027231e+06,8.500000e+03,0.000000e+00,8.000000e+03,0.000000,1.000000,0.000000,126.000000,57.000000,2.000000,1.000000,0.000000
25%,7.374692e+07,9.767500e+04,0.000000e+00,8.775000e+04,0.000000,7.000000,4.300000,25955.000000,706.000000,4.197700,346.000000,105.000000
50%,1.161160e+08,1.690000e+05,0.000000e+00,1.390000e+05,0.000000,31.000000,4.600000,105513.000000,1188.000000,4.461300,1620.000000,411.000000
75%,1.741788e+08,2.990000e+05,7.000000e+04,2.250000e+05,34.000000,147.000000,5.000000,187369.250000,1515.500000,4.662225,4892.000000,1407.250000
max,2.517733e+08,2.099000e+06,1.100000e+06,1.650000e+06,68.000000,15093.000000,5.000000,328531.000000,2198.000000,5.000000,51170.000000,30488.000000

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 1000 non-null   int64
 1   name               1000 non-null   object
 2   brand              1000 non-null   object
 3   original_price     1000 non-null   int64
 4   discount           1000 non-null   int64
 5   price              1000 non-null   int64
 6   discount_rate      1000 non-null   int64
 7   quantity_sold      982 non-null    float64
 8   rating_average     982 non-null    float64
 9   seller_id          982 non-null    float64
 10  seller_name        982 non-null    object
 11  days_since_joined  982 non-null    float64
 12  seller_avg_rating  982 non-null    float64
 13  is_official        982 non-null    object
 14  review_count       982 non-null    float64
 15  total_follower     982 non-null    float64
dtypes: float64(7), int64(5), object(4)
memory usage: 125.1+ KB

In [12]:
df.isnull().sum()

id                    0
name                  0
brand                 0
original_price        0
discount              0
price                 0
discount_rate         0
quantity_sold        18
rating_average       18
seller_id            18
seller_name          18
days_since_joined    18
seller_avg_rating    18
is_official          18
review_count         18
total_follower       18
dtype: int64